from pydantic_settings import BaseSettings, SettingsConfigDict


class Settings(BaseSettings):
    model_config = SettingsConfigDict(env_prefix="{{ project_name | upper | replace('-', '_') }}_", env_file=".env", extra="ignore")

    app_name: str = "{{ project_name }} backend"
    log_level: str = "INFO"


settings = Settings()